@model egovBroadcastingModel.Models.DisasterNotice

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>DisasterNotice</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisasterType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisasterType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Severity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Severity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Source)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Source)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoticeDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoticeDateTime)
        </dd>
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoreInfoUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoreInfoUrl)
        </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remarks)
        </dd>
    </dl>
</div>
<div>
    <h4>Comments</h4>
    <hr />
    <p>
        <a asp-controller= "Comments" asp-action="Create">Add a comment</a>
    </p>
    @foreach (var comment in Model.Comments)
    {
        <div class="comment">
            <span>@comment.Username (@comment.CommentDateTime):   </span>
            <span>@comment.Content</span>
        </div>
    }
</div>
<div>
    @if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("admin"))
        {
            <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
        }

    }
    <a asp-action="Index">Back to List</a>
</div>
