@model IEnumerable<egovBroadcastingModel.Models.DisasterNotice>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    @if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("admin"))
        {
            <a asp-action="Create">Create New</a>
        }

    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DisasterType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
           @*  <th>
                @Html.DisplayNameFor(model => model.Description)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.EventDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Severity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Source)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoticeDateTime)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.MoreInfoUrl)
            </th> *@
            @* <th>
                @Html.DisplayNameFor(model => model.Remarks)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DisasterType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.EventDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Severity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
           @*  <td>
                @Html.DisplayFor(modelItem => item.Source)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoticeDateTime)
            </td> *@
            @* <td>
                @Html.DisplayFor(modelItem => item.MoreInfoUrl)
            </td> *@
            @* <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td> *@
            <td>
                @if(User.Identity.IsAuthenticated){
                    if(User.IsInRole("admin"))
                    {
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit </a><span>|</span>
                        <a asp-action = "Details" asp-route-id = "@item.Id"> Details </a><span>|</span>
                        <a asp-action = "Delete" asp-route-id = "@item.Id"> Delete </a>
                        }
                        else
                        {
                            <a asp-action = "Details" asp-route-id = "@item.Id" > Details </a >
                        }
                }
                
            </td>
           
        </tr>
}
    </tbody>
</table>
